# This one is for collecting data from elasticsearch. Version needs to match ES-version in Camunda.
elasticsearch>=7.17,<8.0

# This one is for creating HTML reports
Jinja2>=3.1.2,<3.2.0

# And these two are for sending mail with MS Graph
msgraph-core>=0.2,<=0.3
azure-identity>=1.11,<=1.12

